.bold-text{
	font-weight: bold;
}
#mainContainer {
	width: 95%;
}

#canvasContainer {
	text-align: center;
	overflow: auto;
}

#chatRoom, #instructions {
	width: 95%;
	max-height: 300px;
	overflow: auto;
}

#instructions p {
	width: 90%;
}

#viewport {
	border: solid 1px black;
}

.sideBySide {
	display: inline-block;
	width: 48%;
}

#header h1 {
	margin-top: 0;
	padding-top: 20px;
}